## FONTE

https://github.com/geodatasource/country-borders

In [1]:
import pandas as pd

In [3]:
df_vizinhos = pd.read_csv("./raw-files/Neighbors.csv")

In [18]:
df_vizinhos.head()

  country_code          country_name country_border_code country_border_name
0           AD               Andorra                  FR              France
1           AD               Andorra                  ES               Spain
2           AE  United Arab Emirates                  OM                Oman
3           AE  United Arab Emirates                  SA        Saudi Arabia
4           AF           Afghanistan                  CN               China

In [19]:
lista_completa = df_vizinhos.country_border_name.tolist()

In [20]:
paises = df_vizinhos.country_border_name.unique().tolist()
paises[:5]

['France', 'Spain', 'Oman', 'Saudi Arabia', 'China']

In [31]:
dic_contagem_vizinhos = {"country_name": [], "n_neightbours": []}
for pais in paises:
    dic_contagem_vizinhos["country_name"].append(pais)
    dic_contagem_vizinhos["n_neightbours"].append(lista_completa.count(pais))

In [32]:
dic_contagem_vizinhos

{'country_name': ['France',
  'Spain',
  'Oman',
  'Saudi Arabia',
  'China',
  'Iran (Islamic Republic of)',
  'Pakistan',
  'Tajikistan',
  'Turkmenistan',
  'Uzbekistan',
  nan,
  'Greece',
  'Montenegro',
  'North Macedonia',
  'Serbia',
  'Azerbaijan',
  'Georgia',
  'Turkey',
  'Congo',
  'Congo (the Democratic Republic of the)',
  'Namibia',
  'Zambia',
  'Bolivia (Plurinational State Of)',
  'Brazil',
  'Chile',
  'Paraguay',
  'Uruguay',
  'Czechia',
  'Germany',
  'Hungary',
  'Italy',
  'Liechtenstein',
  'Slovakia',
  'Slovenia',
  'Switzerland',
  'Armenia',
  'Russian Federation',
  'Croatia',
  'India',
  'Myanmar',
  'Luxembourg',
  'Netherlands',
  'Benin',
  'Cote d’Ivoire',
  'Ghana',
  'Mali',
  'Niger',
  'Togo',
  'Romania',
  'Rwanda',
  'Tanzania (the United Republic of)',
  'Burkina Faso',
  'Nigeria',
  'Malaysia',
  'Argentina',
  'Peru',
  'Colombia',
  'French Guiana',
  'Guyana',
  'Suriname',
  'Venezuela (Bolivarian Republic of)',
  'South Africa',
  'Zimbabwe',
  'Latvia',
  'Lithuania',
  'Poland',
  'Ukraine',
  'Guatemala',
  'Mexico',
  'United States of America',
  'Angola',
  'Burundi',
  'Central African Republic',
  'South Sudan',
  'Uganda',
  'Cameroon',
  'Chad',
  'Sudan',
  'Gabon',
  'Austria',
  'Guinea',
  'Liberia',
  'Equatorial Guinea',
  'Afghanistan',
  'Bhutan',
  'Hong Kong',
  'Kazakhstan',
  "Korea (Democratic People's Republic of)",
  'Kyrgyzstan',
  "Lao People's Democratic Republic",
  'Macao',
  'Mongolia',
  'Nepal',
  'Viet Nam',
  'Ecuador',
  'Panama',
  'Nicaragua',
  'Belgium',
  'Denmark',
  'Eritrea',
  'Ethiopia',
  'Somalia',
  'Haiti',
  'Libya',
  'Mauritania',
  'Morocco',
  'Tunisia',
  'Western Sahara',
  'Israel',
  'Palestine, State of',
  'Algeria',
  'Djibouti',
  'Andorra',
  'Gibraltar',
  'Portugal',
  'Kenya',
  'Norway',
  'Sweden',
  'Monaco',
  'Ireland',
  'Senegal',
  'Guinea-Bissau',
  'Sierra Leone',
  'Albania',
  'Bulgaria',
  'Belize',
  'El Salvador',
  'Honduras',
  'Bosnia and Herzegovina',
  'Dominican Republic',
  'Papua New Guinea',
  'Timor-Leste',
  'United Kingdom of Great Britain and Northern Ireland',
  'Egypt',
  'Jordan',
  'Lebanon',
  'Syrian Arab Republic',
  'Bangladesh',
  'Kuwait',
  'Iraq',
  'San Marino',
  'Holy See',
  'Thailand',
  'Korea (the Republic of)',
  'Cambodia',
  'Belarus',
  'Estonia',
  'Sint Maarten (Dutch part)',
  'Mozambique',
  'Brunei Darussalam',
  'Indonesia',
  'Malawi',
  'Eswatini',
  'Botswana',
  'Costa Rica',
  'Finland',
  'United Arab Emirates',
  'Yemen',
  'Moldova (the Republic of)',
  'Qatar',
  'Gambia (the)',
  'Saint Martin (French part)',
  'Canada',
  'Lesotho'],
 'n_neightbours': [8,
  5,
  3,
  7,
  16,
  7,
  4,
  4,
  4,
  5,
  86,
  4,
  4,
  4,
  8,
  5,
  4,
  8,
  5,
  9,
  4,
  8,
  5,
  10,
  3,
  3,
  2,
  4,
  9,
  7,
  6,
  2,
  5,
  4,
  5,
  4,
  14,
  5,
  6,
  5,
  3,
  2,
  4,
  5,
  3,
  7,
  7,
  3,
  5,
  4,
  8,
  6,
  4,
  3,
  5,
  5,
  5,
  2,
  3,
  3,
  3,
  6,
  4,
  4,
  4,
  7,
  7,
  4,
  3,
  2,
  4,
  3,
  6,
  6,
  5,
  6,
  6,
  7,
  3,
  8,
  6,
  3,
  2,
  6,
  2,
  1,
  5,
  3,
  4,
  5,
  1,
  2,
  2,
  3,
  2,
  2,
  2,
  4,
  1,
  3,
  6,
  3,
  1,
  6,
  4,
  3,
  2,
  3,
  5,
  3,
  7,
  3,
  2,
  1,
  1,
  5,
  3,
  2,
  1,
  1,
  5,
  2,
  2,
  4,
  5,
  2,
  2,
  3,
  3,
  1,
  1,
  1,
  1,
  4,
  5,
  2,
  5,
  2,
  2,
  6,
  1,
  1,
  4,
  1,
  3,
  5,
  2,
  1,
  6,
  1,
  3,
  3,
  2,
  4,
  2,
  3,
  2,
  2,
  2,
  1,
  1,
  1,
  1,
  1]}

In [33]:
df_contagem_vizinhos = pd.DataFrame(dic_contagem_vizinhos)

In [34]:
df_contagem_vizinhos

                   country_name  n_neightbours
0                        France              8
1                         Spain              5
2                          Oman              3
3                  Saudi Arabia              7
4                         China             16
..                          ...            ...
159                       Qatar              1
160                Gambia (the)              1
161  Saint Martin (French part)              1
162                      Canada              1
163                     Lesotho              1

[164 rows x 2 columns]