In [54]:
import numpy as np
import pandas as pd
import seaborn as sns
import regression as reg

from scipy import stats
from matplotlib import pyplot as plt

import openpyxl

In [55]:
df_completo = pd.read_csv('./asylum_seekers.csv')

listaVertices = []

listaVertices = set(df_completo['Country / territory of asylum/residence'].unique().tolist() + df_completo['Origin'].unique().tolist())

print(len(listaVertices))

225

/tmp/ipykernel_155/3493258437.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_completo = pd.read_csv('./asylum_seekers.csv')

In [56]:
data = pd.read_excel('./final_db.xlsx')
data

,Unnamed: 0,country,idh_2000,idh_2001,idh_2002,idh_2003,idh_2004,idh_2005,idh_2006,idh_2007,...,idh_2016,n_wars,n_neightbours,idh_avg,rejected,betweenness,pop_cont,coreness,in_degree,out_degree
0,0,"China, Hong Kong SAR",0.830,0.838,0.845,0.854,0.865,0.874,0.886,0.890,...,0.936,0,1,0.889235,7767,2.861034e-04,0,0.240278,830,16
1,1,"China, Macao SAR",0.922,0.922,0.922,0.922,0.922,0.922,0.922,0.922,...,0.922,0,1,0.922000,7,8.704008e-07,0,0.098611,10,3
2,2,Afghanistan,0.350,0.353,0.384,0.393,0.409,0.418,0.429,0.447,...,0.502,2,6,0.442706,243,2.351135e-03,0,0.120833,249,239198
3,3,Albania,0.671,0.678,0.684,0.691,0.696,0.706,0.713,0.722,...,0.788,0,4,0.732412,64,1.306107e-03,0,0.218056,158,14660
4,4,Algeria,0.637,0.647,0.657,0.667,0.677,0.685,0.690,0.700,...,0.743,1,7,0.699882,5511,5.926680e-03,0,0.222222,404,6174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,220,Wallis and Futuna Islands,0.763,0.763,0.763,0.763,0.763,0.763,0.763,0.763,...,0.763,0,0,0.763000,0,0.000000e+00,0,0.045833,0,0
221,221,Western Sahara,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0,3,0.000000,0,0.000000e+00,0,0.004167,0,473
222,222,Yemen,0.444,0.453,0.461,0.470,0.477,0.483,0.488,0.492,...,0.474,4,2,0.485235,5730,5.728203e-03,0,0.194444,11977,10037
223,223,Zambia,0.425,0.432,0.441,0.451,0.460,0.471,0.482,0.488,...,0.571,0,8,0.502235,2454,9.805704e-04,0,0.166667,8280,295
224,224,Zimbabwe,0.430,0.431,0.423,0.414,0.411,0.411,0.414,0.421,...,0.558,0,4,0.466824,1315,2.669126e-03,0,0.156944,15749,25778

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     225 non-null    int64
 1   country        225 non-null    object
 2   idh_2000       225 non-null    float64
 3   idh_2001       225 non-null    float64
 4   idh_2002       225 non-null    float64
 5   idh_2003       225 non-null    float64
 6   idh_2004       225 non-null    float64
 7   idh_2005       225 non-null    float64
 8   idh_2006       225 non-null    float64
 9   idh_2007       225 non-null    float64
 10  idh_2008       225 non-null    float64
 11  idh_2009       225 non-null    float64
 12  idh_2010       225 non-null    float64
 13  idh_2011       225 non-null    float64
 14  idh_2012       225 non-null    float64
 15  idh_2013       225 non-null    float64
 16  idh_2014       225 non-null    float64
 17  idh_2015       225 non-null    float64
 18  idh_2016       225 non-null    float64
 19  n_wars         225 non-null    int64
 20  n_neightbours  225 non-null    int64
 21  idh_avg        225 non-null    float64
 22  rejected       225 non-null    int64
 23  betweenness    225 non-null    float64
 24  pop_cont       225 non-null    int64
 25  coreness       225 non-null    float64
 26  in_degree      225 non-null    int64
 27  out_degree     225 non-null    int64
dtypes: float64(20), int64(7), object(1)
memory usage: 49.3+ KB

In [58]:
data_certo = data['coreness'].apply(lambda x: 0 if x < 0.3 else 1 if x > 0.7 else x)

data["coreness_discreto"] = data_certo
data

,Unnamed: 0,country,idh_2000,idh_2001,idh_2002,idh_2003,idh_2004,idh_2005,idh_2006,idh_2007,...,n_wars,n_neightbours,idh_avg,rejected,betweenness,pop_cont,coreness,in_degree,out_degree,coreness_discreto
0,0,"China, Hong Kong SAR",0.830,0.838,0.845,0.854,0.865,0.874,0.886,0.890,...,0,1,0.889235,7767,2.861034e-04,0,0.240278,830,16,0
1,1,"China, Macao SAR",0.922,0.922,0.922,0.922,0.922,0.922,0.922,0.922,...,0,1,0.922000,7,8.704008e-07,0,0.098611,10,3,0
2,2,Afghanistan,0.350,0.353,0.384,0.393,0.409,0.418,0.429,0.447,...,2,6,0.442706,243,2.351135e-03,0,0.120833,249,239198,0
3,3,Albania,0.671,0.678,0.684,0.691,0.696,0.706,0.713,0.722,...,0,4,0.732412,64,1.306107e-03,0,0.218056,158,14660,0
4,4,Algeria,0.637,0.647,0.657,0.667,0.677,0.685,0.690,0.700,...,1,7,0.699882,5511,5.926680e-03,0,0.222222,404,6174,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,220,Wallis and Futuna Islands,0.763,0.763,0.763,0.763,0.763,0.763,0.763,0.763,...,0,0,0.763000,0,0.000000e+00,0,0.045833,0,0,0
221,221,Western Sahara,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0,3,0.000000,0,0.000000e+00,0,0.004167,0,473,0
222,222,Yemen,0.444,0.453,0.461,0.470,0.477,0.483,0.488,0.492,...,4,2,0.485235,5730,5.728203e-03,0,0.194444,11977,10037,0
223,223,Zambia,0.425,0.432,0.441,0.451,0.460,0.471,0.482,0.488,...,0,8,0.502235,2454,9.805704e-04,0,0.166667,8280,295,0
224,224,Zimbabwe,0.430,0.431,0.423,0.414,0.411,0.411,0.414,0.421,...,0,4,0.466824,1315,2.669126e-03,0,0.156944,15749,25778,0

In [59]:
df = data[(data['n_neightbours'] < 5) & (data['betweenness'] >= 0.001) & (data['idh_avg'] >= 0.8)]
df[['country', 'betweenness', 'n_neightbours']]

                      country  betweenness  n_neightbours
13                  Australia     0.009160              0
21                    Belgium     0.012111              4
39                     Canada     0.021672              1
55                 Czech Rep.     0.001388              4
58                    Denmark     0.002699              1
80                     Greece     0.004380              4
96                    Ireland     0.003192              1
108                    Latvia     0.009413              4
138               Netherlands     0.007397              2
146                    Norway     0.002697              3
157                  Portugal     0.001205              1
160             Rep. of Korea     0.002236              1
192                    Sweden     0.003626              2
211            United Kingdom     0.038188              1
213  United States of America     0.088410              2

In [60]:
len(df[['country', 'betweenness', 'n_neightbours']])

15

In [61]:
# Países com baixo in-degree

# E baixo IDH?

In [62]:
df = data[(data['coreness_discreto'] == 0) & (data['n_neightbours'] >= 5)]
df[['country', 'coreness_discreto', 'n_neightbours']]

                              country  coreness_discreto  n_neightbours
2                         Afghanistan                  0              6
4                             Algeria                  0              7
15                         Azerbaijan                  0              5
20                            Belarus                  0              5
26   Bolivia (Plurinational State of)                  0              5
34                       Burkina Faso                  0              6
38                           Cameroon                  0              6
41               Central African Rep.                  0              6
42                               Chad                  0              6
44                              China                  0             16
45                           Colombia                  0              5
47                              Congo                  0              5
50                      Côte d'Ivoire                  0              5
57             Dem. Rep. of the Congo                  0             10
68                           Ethiopia                  0              6
84                             Guinea                  0              6
92                              India                  0              6
94             Iran (Islamic Rep. of)                  0              7
95                               Iraq                  0              6
97                             Israel                  0              5
101                            Jordan                  0              5
102                        Kazakhstan                  0              5
103                             Kenya                  0              5
112                             Libya                  0              6
120                              Mali                  0              7
133                        Mozambique                  0              6
134                           Myanmar                  0              5
142                             Niger                  0              7
150                       Palestinian                  0              5
172                      Saudi Arabia                  0              7
173                           Senegal                  0              5
184                       South Sudan                  0              6
188                             Sudan                  0              7
198                           Tibetan                  0              6
204                            Turkey                  0              8
208                            Uganda                  0              5
212           United Rep. of Tanzania                  0              7
215                        Uzbekistan                  0              5
223                            Zambia                  0              8

### Países com IDH maior que 0.7 e 2008

In [63]:
data['idh_2008'].astype(float)

0      0.899
1      0.922
2      0.447
3      0.728
4      0.702
       ...
220    0.763
221    0.000
222    0.495
223    0.503
224    0.422
Name: idh_2008, Length: 225, dtype: float64

In [66]:
df_paises_idh = data[(data['idh_2008'] >= 0.7)]
df_paises_idh = df_paises_idh[['country', 'idh_2008']]
df_paises_idh = df_paises_idh.set_index('country').reindex(listaVertices).reset_index()
df_paises_idh = df_paises_idh.fillna(0)
#df.set_index('Country').reindex(countries).reset_index()
df_paises_idh = df_paises_idh.rename(columns={'country': 'origin', 'idh_2008': 'idh_2008'})
df_paises_idh.sort_values("origin", ascending = True)

                         origin  idh_2008
126                 Afghanistan     0.000
50                      Albania     0.728
16                      Algeria     0.702
129              American Samoa     0.827
52                      Andorra     0.840
..                          ...       ...
99   Wallis and Futuna Islands      0.763
176              Western Sahara     0.000
128                       Yemen     0.000
62                       Zambia     0.000
40                     Zimbabwe     0.000

[225 rows x 2 columns]

In [67]:
df_aresta = df_completo.loc[:, ['Country / territory of asylum/residence', 'Origin', 'decisions_recognized', 'Year']]
df_aresta = df_aresta.rename(columns={'Origin': 'origin', 'Country / territory of asylum/residence': 'destiny', 'decisions_recognized': 'value', 'Year' : 'year'})
df_aresta

                         destiny       origin value  year
0                       Zimbabwe  Afghanistan     5  2000
1                   South Africa  Afghanistan     0  2000
2                     Uzbekistan  Afghanistan   747  2000
3       United States of America  Afghanistan   151  2000
4       United States of America  Afghanistan   182  2000
...                          ...          ...   ...   ...
129715  United States of America     Zimbabwe    16  2016
129716  United States of America     Zimbabwe     *  2016
129717              South Africa     Zimbabwe   NaN  2016
129718              South Africa     Zimbabwe    73  2016
129719                    Zambia     Zimbabwe     0  2016

[129720 rows x 4 columns]

In [68]:
df_aresta.value = pd.to_numeric(df_aresta['value'], errors = 'coerce').fillna(0)
df_aresta

                         destiny       origin  value  year
0                       Zimbabwe  Afghanistan    5.0  2000
1                   South Africa  Afghanistan    0.0  2000
2                     Uzbekistan  Afghanistan  747.0  2000
3       United States of America  Afghanistan  151.0  2000
4       United States of America  Afghanistan  182.0  2000
...                          ...          ...    ...   ...
129715  United States of America     Zimbabwe   16.0  2016
129716  United States of America     Zimbabwe    0.0  2016
129717              South Africa     Zimbabwe    0.0  2016
129718              South Africa     Zimbabwe   73.0  2016
129719                    Zambia     Zimbabwe    0.0  2016

[129720 rows x 4 columns]

In [69]:
df_aresta = df_aresta[df_aresta['year'] == 2008]
df_aresta

                        destiny       origin  value  year
49818                   Albania  Afghanistan    0.0  2008
49819                 Australia  Afghanistan    1.0  2008
49820                 Australia  Afghanistan   33.0  2008
49821                   Austria  Afghanistan  486.0  2008
49822                Azerbaijan  Afghanistan    0.0  2008
...                         ...          ...    ...   ...
56855  United States of America     Zimbabwe   40.0  2008
56856  United States of America     Zimbabwe  136.0  2008
56857              South Africa     Zimbabwe    0.0  2008
56858              South Africa     Zimbabwe    0.0  2008
56859                    Zambia     Zimbabwe    9.0  2008

[7042 rows x 4 columns]

In [70]:
df_aresta = df_aresta.drop('year', axis=1)
df_aresta['value'].astype(int)

49818      0
49819      1
49820     33
49821    486
49822      0
        ...
56855     40
56856    136
56857      0
56858      0
56859      9
Name: value, Length: 7042, dtype: int64

In [71]:
df_aresta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7042 entries, 49818 to 56859
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   destiny  7042 non-null   object
 1   origin   7042 non-null   object
 2   value    7042 non-null   float64
dtypes: float64(1), object(2)
memory usage: 220.1+ KB

In [72]:
df_aresta = df_aresta.groupby(['origin', 'destiny']).sum().reset_index()
df_aresta

           origin                   destiny   value
0     Afghanistan                   Albania     0.0
1     Afghanistan                 Australia    34.0
2     Afghanistan                   Austria   486.0
3     Afghanistan                Azerbaijan    28.0
4     Afghanistan                   Belarus     9.0
...           ...                       ...     ...
5309     Zimbabwe                   Ukraine     1.0
5310     Zimbabwe            United Kingdom  1381.0
5311     Zimbabwe  United States of America   176.0
5312     Zimbabwe                   Uruguay     1.0
5313     Zimbabwe                    Zambia     9.0

[5314 rows x 3 columns]

In [73]:
df_aresta = df_aresta[df_aresta['origin'] != df_aresta['destiny']]
df_aresta

           origin                   destiny   value
0     Afghanistan                   Albania     0.0
1     Afghanistan                 Australia    34.0
2     Afghanistan                   Austria   486.0
3     Afghanistan                Azerbaijan    28.0
4     Afghanistan                   Belarus     9.0
...           ...                       ...     ...
5309     Zimbabwe                   Ukraine     1.0
5310     Zimbabwe            United Kingdom  1381.0
5311     Zimbabwe  United States of America   176.0
5312     Zimbabwe                   Uruguay     1.0
5313     Zimbabwe                    Zambia     9.0

[5308 rows x 3 columns]

In [74]:
df_out_degree  = df_aresta.groupby('origin').sum().reindex(listaVertices).fillna(0)
#df_out_degree
df_out_degree.sort_values("origin", ascending = True)

/tmp/ipykernel_155/2085597083.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_out_degree  = df_aresta.groupby('origin').sum().reindex(listaVertices).fillna(0)

                             value
origin
Afghanistan                 4173.0
Albania                      390.0
Algeria                      150.0
American Samoa                 0.0
Andorra                        0.0
...                            ...
Wallis and Futuna Islands      0.0
Western Sahara                 2.0
Yemen                        115.0
Zambia                        10.0
Zimbabwe                    2674.0

[225 rows x 1 columns]

In [77]:
df = df_paises_idh.merge(df_out_degree, on="origin", how="left")
df

                     origin  idh_2008    value
0                  Botswana     0.000      6.0
1      United Arab Emirates     0.821      3.0
2                 Mauritius     0.738      0.0
3                 Sri Lanka     0.746   4693.0
4                   Finland     0.917      0.0
..                      ...       ...      ...
220  Dem. Rep. of the Congo     0.000  10554.0
221                   Samoa     0.000      0.0
222    China, Hong Kong SAR     0.899      0.0
223                Kiribati     0.000      0.0
224                Honduras     0.000     61.0

[225 rows x 3 columns]

In [78]:
result_hip4 = reg.linear(data=df, formula='value ~ idh_2008')
result_hip4.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  value   R-squared:                       0.042
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     9.790
Date:                Sun, 06 Nov 2022   Prob (F-statistic):            0.00199
Time:                        22:59:24   Log-Likelihood:                -2080.4
No. Observations:                 225   AIC:                             4165.
Df Residuals:                     223   BIC:                             4172.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1252.0077    244.825      5.114      0.000     769.541    1734.474
idh_2008   -1279.4088    408.902     -3.129      0.002   -2085.216    -473.602
==============================================================================
Omnibus:                      265.423   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8756.604
Skew:                           5.140   Prob(JB):                         0.00
Kurtosis:                      31.782   Cond. No.                         2.97
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""