In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import regression as reg

from scipy import stats
from matplotlib import pyplot as plt

import openpyxl

In [3]:
df_completo = pd.read_csv('./asylum_seekers.csv')

listaVertices = []

listaVertices = set(df_completo['Country / territory of asylum/residence'].unique().tolist() + df_completo['Origin'].unique().tolist())

print(len(listaVertices))

225

/tmp/ipykernel_30/3493258437.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_completo = pd.read_csv('./asylum_seekers.csv')

In [4]:
data = pd.read_excel('./final_db.xlsx')
data

,Unnamed: 0.1,Unnamed: 0,country,idh_2000,idh_2001,idh_2002,idh_2003,idh_2004,idh_2005,idh_2006,...,n_neightbours,idh_avg,rejected,betweenness,pop_cont,coreness,in_degree,out_degree,open,coreness_discreto
0,0,0,"China, Hong Kong SAR",0.830,0.838,0.845,0.854,0.865,0.874,0.886,...,1,0.889235,7767,2.861034e-04,0,0.240278,830,16,9.654531,0
1,1,1,"China, Macao SAR",0.922,0.922,0.922,0.922,0.922,0.922,0.922,...,1,0.922000,7,8.704008e-07,0,0.098611,10,3,58.823529,0
2,2,2,Afghanistan,0.350,0.353,0.384,0.393,0.409,0.418,0.429,...,6,0.442706,243,2.351135e-03,0,0.120833,249,239198,50.609756,0
3,3,3,Albania,0.671,0.678,0.684,0.691,0.696,0.706,0.713,...,4,0.732412,64,1.306107e-03,0,0.218056,158,14660,71.171171,0
4,4,4,Algeria,0.637,0.647,0.657,0.667,0.677,0.685,0.690,...,7,0.699882,5511,5.926680e-03,0,0.222222,404,6174,6.830093,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,220,220,Wallis and Futuna Islands,0.763,0.763,0.763,0.763,0.763,0.763,0.763,...,0,0.763000,0,0.000000e+00,0,0.045833,0,0,0.000000,0
221,221,221,Western Sahara,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,3,0.000000,0,0.000000e+00,0,0.004167,0,473,0.000000,0
222,222,222,Yemen,0.444,0.453,0.461,0.470,0.477,0.483,0.488,...,2,0.485235,5730,5.728203e-03,0,0.194444,11977,10037,67.639916,0
223,223,223,Zambia,0.425,0.432,0.441,0.451,0.460,0.471,0.482,...,8,0.502235,2454,9.805704e-04,0,0.166667,8280,295,77.138066,0
224,224,224,Zimbabwe,0.430,0.431,0.423,0.414,0.411,0.411,0.414,...,4,0.466824,1315,2.669126e-03,0,0.156944,15749,25778,92.293718,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0.1       225 non-null    int64
 1   Unnamed: 0         225 non-null    int64
 2   country            225 non-null    object
 3   idh_2000           225 non-null    float64
 4   idh_2001           225 non-null    float64
 5   idh_2002           225 non-null    float64
 6   idh_2003           225 non-null    float64
 7   idh_2004           225 non-null    float64
 8   idh_2005           225 non-null    float64
 9   idh_2006           225 non-null    float64
 10  idh_2007           225 non-null    float64
 11  idh_2008           225 non-null    float64
 12  idh_2009           225 non-null    float64
 13  idh_2010           225 non-null    float64
 14  idh_2011           225 non-null    float64
 15  idh_2012           225 non-null    float64
 16  idh_2013           225 non-null    float64
 17  idh_2014           225 non-null    float64
 18  idh_2015           225 non-null    float64
 19  idh_2016           225 non-null    float64
 20  n_wars             225 non-null    int64
 21  n_neightbours      225 non-null    int64
 22  idh_avg            225 non-null    float64
 23  rejected           225 non-null    int64
 24  betweenness        225 non-null    float64
 25  pop_cont           225 non-null    int64
 26  coreness           225 non-null    float64
 27  in_degree          225 non-null    int64
 28  out_degree         225 non-null    int64
 29  open               224 non-null    float64
 30  coreness_discreto  225 non-null    int64
dtypes: float64(21), int64(9), object(1)
memory usage: 54.6+ KB

In [6]:
data_certo = data['coreness'].apply(lambda x: 0 if x < 0.3 else 1 if x > 0.7 else x)

data["coreness_discreto"] = data_certo
data

,Unnamed: 0.1,Unnamed: 0,country,idh_2000,idh_2001,idh_2002,idh_2003,idh_2004,idh_2005,idh_2006,...,n_neightbours,idh_avg,rejected,betweenness,pop_cont,coreness,in_degree,out_degree,open,coreness_discreto
0,0,0,"China, Hong Kong SAR",0.830,0.838,0.845,0.854,0.865,0.874,0.886,...,1,0.889235,7767,2.861034e-04,0,0.240278,830,16,9.654531,0
1,1,1,"China, Macao SAR",0.922,0.922,0.922,0.922,0.922,0.922,0.922,...,1,0.922000,7,8.704008e-07,0,0.098611,10,3,58.823529,0
2,2,2,Afghanistan,0.350,0.353,0.384,0.393,0.409,0.418,0.429,...,6,0.442706,243,2.351135e-03,0,0.120833,249,239198,50.609756,0
3,3,3,Albania,0.671,0.678,0.684,0.691,0.696,0.706,0.713,...,4,0.732412,64,1.306107e-03,0,0.218056,158,14660,71.171171,0
4,4,4,Algeria,0.637,0.647,0.657,0.667,0.677,0.685,0.690,...,7,0.699882,5511,5.926680e-03,0,0.222222,404,6174,6.830093,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,220,220,Wallis and Futuna Islands,0.763,0.763,0.763,0.763,0.763,0.763,0.763,...,0,0.763000,0,0.000000e+00,0,0.045833,0,0,0.000000,0
221,221,221,Western Sahara,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,3,0.000000,0,0.000000e+00,0,0.004167,0,473,0.000000,0
222,222,222,Yemen,0.444,0.453,0.461,0.470,0.477,0.483,0.488,...,2,0.485235,5730,5.728203e-03,0,0.194444,11977,10037,67.639916,0
223,223,223,Zambia,0.425,0.432,0.441,0.451,0.460,0.471,0.482,...,8,0.502235,2454,9.805704e-04,0,0.166667,8280,295,77.138066,0
224,224,224,Zimbabwe,0.430,0.431,0.423,0.414,0.411,0.411,0.414,...,4,0.466824,1315,2.669126e-03,0,0.156944,15749,25778,92.293718,0

In [7]:
df = data[(data['n_neightbours'] < 5) & (data['betweenness'] >= 0.001) & (data['idh_avg'] >= 0.8)]
df[['country', 'betweenness', 'n_neightbours']]

                      country  betweenness  n_neightbours
13                  Australia     0.009160              0
21                    Belgium     0.012111              4
39                     Canada     0.021672              1
55                 Czech Rep.     0.001388              4
58                    Denmark     0.002699              1
80                     Greece     0.004380              4
96                    Ireland     0.003192              1
108                    Latvia     0.009413              4
138               Netherlands     0.007397              2
146                    Norway     0.002697              3
157                  Portugal     0.001205              1
160             Rep. of Korea     0.002236              1
192                    Sweden     0.003626              2
211            United Kingdom     0.038188              1
213  United States of America     0.088410              2

In [8]:
len(df[['country', 'betweenness', 'n_neightbours']])

15

In [9]:
# Países com baixo in-degree

# E baixo IDH?

In [10]:
df = data[(data['coreness_discreto'] == 0) & (data['n_neightbours'] >= 5)]
df[['country', 'coreness_discreto', 'n_neightbours']]

                              country  coreness_discreto  n_neightbours
2                         Afghanistan                  0              6
4                             Algeria                  0              7
15                         Azerbaijan                  0              5
20                            Belarus                  0              5
26   Bolivia (Plurinational State of)                  0              5
34                       Burkina Faso                  0              6
38                           Cameroon                  0              6
41               Central African Rep.                  0              6
42                               Chad                  0              6
44                              China                  0             16
45                           Colombia                  0              5
47                              Congo                  0              5
50                      Côte d'Ivoire                  0              5
57             Dem. Rep. of the Congo                  0             10
68                           Ethiopia                  0              6
84                             Guinea                  0              6
92                              India                  0              6
94             Iran (Islamic Rep. of)                  0              7
95                               Iraq                  0              6
97                             Israel                  0              5
101                            Jordan                  0              5
102                        Kazakhstan                  0              5
103                             Kenya                  0              5
112                             Libya                  0              6
120                              Mali                  0              7
133                        Mozambique                  0              6
134                           Myanmar                  0              5
142                             Niger                  0              7
150                       Palestinian                  0              5
172                      Saudi Arabia                  0              7
173                           Senegal                  0              5
184                       South Sudan                  0              6
188                             Sudan                  0              7
198                           Tibetan                  0              6
204                            Turkey                  0              8
208                            Uganda                  0              5
212           United Rep. of Tanzania                  0              7
215                        Uzbekistan                  0              5
223                            Zambia                  0              8

### Países com IDH maior que 0.7 e 2008

In [11]:
data['idh_2008'].astype(float)

0      0.899
1      0.922
2      0.447
3      0.728
4      0.702
       ...
220    0.763
221    0.000
222    0.495
223    0.503
224    0.422
Name: idh_2008, Length: 225, dtype: float64

In [54]:
df_paises_idh = data[(data['idh_2008'] >= 0.7)]
df_paises_idh = df_paises_idh[['country', 'idh_2008']]
df_paises_idh

                                country  idh_2008
0                  China, Hong Kong SAR     0.899
1                      China, Macao SAR     0.922
3                               Albania     0.728
4                               Algeria     0.702
5                        American Samoa     0.827
..                                  ...       ...
211                      United Kingdom     0.903
213            United States of America     0.911
214                             Uruguay     0.769
218  Venezuela (Bolivarian Republic of)     0.757
220          Wallis and Futuna Islands      0.763

[120 rows x 2 columns]

In [55]:
paises_selecionados = set(df_paises_idh['country'].unique().tolist())

print(len(paises_selecionados))

120

In [56]:
df_paises_idh = df_paises_idh.set_index('country').reindex(paises_selecionados).reset_index()
df_paises_idh = df_paises_idh.fillna(0)
df_paises_idh = df_paises_idh.rename(columns={'country': 'origin', 'idh_2008': 'idh_2008'})
df_paises_idh.sort_values("origin", ascending = True)

                                origin  idh_2008
44                             Albania     0.728
38                             Algeria     0.702
24                      American Samoa     0.827
12                             Andorra     0.840
65                            Anguilla     0.865
..                                 ...       ...
3                       United Kingdom     0.903
19            United States of America     0.911
22                             Uruguay     0.769
52  Venezuela (Bolivarian Republic of)     0.757
23          Wallis and Futuna Islands      0.763

[120 rows x 2 columns]

In [57]:
df_aresta = df_completo.loc[:, ['Country / territory of asylum/residence', 'Origin', 'decisions_recognized', 'Year']]
df_aresta = df_aresta.rename(columns={'Origin': 'origin', 'Country / territory of asylum/residence': 'destiny', 'decisions_recognized': 'value', 'Year' : 'year'})
df_aresta

                         destiny       origin value  year
0                       Zimbabwe  Afghanistan     5  2000
1                   South Africa  Afghanistan     0  2000
2                     Uzbekistan  Afghanistan   747  2000
3       United States of America  Afghanistan   151  2000
4       United States of America  Afghanistan   182  2000
...                          ...          ...   ...   ...
129715  United States of America     Zimbabwe    16  2016
129716  United States of America     Zimbabwe     *  2016
129717              South Africa     Zimbabwe   NaN  2016
129718              South Africa     Zimbabwe    73  2016
129719                    Zambia     Zimbabwe     0  2016

[129720 rows x 4 columns]

In [58]:
df_aresta.value = pd.to_numeric(df_aresta['value'], errors = 'coerce').fillna(0)
df_aresta

                         destiny       origin  value  year
0                       Zimbabwe  Afghanistan    5.0  2000
1                   South Africa  Afghanistan    0.0  2000
2                     Uzbekistan  Afghanistan  747.0  2000
3       United States of America  Afghanistan  151.0  2000
4       United States of America  Afghanistan  182.0  2000
...                          ...          ...    ...   ...
129715  United States of America     Zimbabwe   16.0  2016
129716  United States of America     Zimbabwe    0.0  2016
129717              South Africa     Zimbabwe    0.0  2016
129718              South Africa     Zimbabwe   73.0  2016
129719                    Zambia     Zimbabwe    0.0  2016

[129720 rows x 4 columns]

In [59]:
df_aresta = df_aresta[df_aresta['year'] == 2008]
df_aresta

                        destiny       origin  value  year
49818                   Albania  Afghanistan    0.0  2008
49819                 Australia  Afghanistan    1.0  2008
49820                 Australia  Afghanistan   33.0  2008
49821                   Austria  Afghanistan  486.0  2008
49822                Azerbaijan  Afghanistan    0.0  2008
...                         ...          ...    ...   ...
56855  United States of America     Zimbabwe   40.0  2008
56856  United States of America     Zimbabwe  136.0  2008
56857              South Africa     Zimbabwe    0.0  2008
56858              South Africa     Zimbabwe    0.0  2008
56859                    Zambia     Zimbabwe    9.0  2008

[7042 rows x 4 columns]

In [60]:
df_aresta = df_aresta.drop('year', axis=1)
df_aresta['value'].astype(int)

49818      0
49819      1
49820     33
49821    486
49822      0
        ...
56855     40
56856    136
56857      0
56858      0
56859      9
Name: value, Length: 7042, dtype: int64

In [61]:
df_aresta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7042 entries, 49818 to 56859
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   destiny  7042 non-null   object
 1   origin   7042 non-null   object
 2   value    7042 non-null   float64
dtypes: float64(1), object(2)
memory usage: 220.1+ KB

In [62]:
df_aresta = df_aresta.groupby(['origin', 'destiny']).sum().reset_index()
df_aresta

           origin                   destiny   value
0     Afghanistan                   Albania     0.0
1     Afghanistan                 Australia    34.0
2     Afghanistan                   Austria   486.0
3     Afghanistan                Azerbaijan    28.0
4     Afghanistan                   Belarus     9.0
...           ...                       ...     ...
5309     Zimbabwe                   Ukraine     1.0
5310     Zimbabwe            United Kingdom  1381.0
5311     Zimbabwe  United States of America   176.0
5312     Zimbabwe                   Uruguay     1.0
5313     Zimbabwe                    Zambia     9.0

[5314 rows x 3 columns]

In [63]:
df_aresta = df_aresta[df_aresta['origin'] != df_aresta['destiny']]
df_aresta

           origin                   destiny   value
0     Afghanistan                   Albania     0.0
1     Afghanistan                 Australia    34.0
2     Afghanistan                   Austria   486.0
3     Afghanistan                Azerbaijan    28.0
4     Afghanistan                   Belarus     9.0
...           ...                       ...     ...
5309     Zimbabwe                   Ukraine     1.0
5310     Zimbabwe            United Kingdom  1381.0
5311     Zimbabwe  United States of America   176.0
5312     Zimbabwe                   Uruguay     1.0
5313     Zimbabwe                    Zambia     9.0

[5308 rows x 3 columns]

In [64]:
df_out_degree  = df_aresta.groupby('origin').sum().reindex(paises_selecionados).fillna(0)
#df_out_degree
df_out_degree.sort_values("origin", ascending = True)

/tmp/ipykernel_30/4025039149.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_out_degree  = df_aresta.groupby('origin').sum().reindex(paises_selecionados).fillna(0)

                                    value
origin
Albania                             390.0
Algeria                             150.0
American Samoa                        0.0
Andorra                               0.0
Anguilla                              0.0
...                                   ...
United Kingdom                        3.0
United States of America             12.0
Uruguay                               2.0
Venezuela (Bolivarian Republic of)  690.0
Wallis and Futuna Islands             0.0

[120 rows x 1 columns]

In [65]:
df = df_paises_idh.merge(df_out_degree, on="origin", how="left")
df

                                    origin  idh_2008   value
0                                   Mexico     0.748   767.0
1                                  Ukraine     0.755   249.0
2                            Liechtenstein     0.899     0.0
3                           United Kingdom     0.903     3.0
4                               Costa Rica     0.761     2.0
..                                     ...       ...     ...
115                                 Cyprus     0.858     1.0
116  Serbia and Kosovo (S/RES/1244 (1999))     0.764  1512.0
117                               Malaysia     0.761    26.0
118                                   Peru     0.715   124.0
119                                 Sweden     0.907     0.0

[120 rows x 3 columns]

### WARS 2008

In [66]:
df_wars = pd.read_csv("../Bases-auxiliares/raw-files/Wars.csv")
df_wars

,WarNum,WarName,V5RegionNum,WarType,CcodeA,SideA,SideB,Intnl,StartMo1,StartDy1,...,WDuratMo,TotNatMonWar,TransFrom,Initiator,Outcome,TransTo,DeathsSideA,DeathsSideB,TotalBDeaths,Version
0,500.0,First Caucasus War of 1818-1822,3,5,365,Russia,Caucasus Rebels,0,6,10,...,53.20,53.20,-8,Chechnya,1,-8.0,5000,6000,11000,5.1
1,502.0,First Two Sicilies War of 1820-1821,3,4,329,Two Sicilies,Liberals,1,7,2,...,8.73,9.03,-8,Liberals,1,-8.0,-9,-9,2000,5.1
2,502.1,Ali Pasha Rebellion of 1820-1822,3,5,640,Ottoman Empire,Ali Pasha Loyalists,0,7,-9,...,18.33,18.33,-8,Ottoman Empire,1,-8.0,-9,-9,2000,5.1
3,503.0,Sardinian Revolt of 1821,3,4,325,Sardinia,Piedmont Liberals,1,3,10,...,1.97,3.03,-8,Liberals,1,-8.0,-9,-9,1000,5.1
4,504.0,Greek Independence War of 1821-1828,3,5,640,Ottoman Empire,Greeks,1,3,25,...,85.03,91.77,-8,Greeks,4,4.0,50000,15177,65177,5.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,992.0,Third Al-Houthi Rebellion of 2014-present,5,4,679,Yemen,Ansar Allah,0,2,28,...,12.83,12.83,-8,Houthi Rebels,5,-8.0,600,4000,4600,5.1
416,992.5,Somali-Al-Shabaab war of 2014-present,4,4,520,Somalia,Al-Shabaab,1,3,3,...,21.97,131.80,-8,Somalia,5,-8.0,-9,-9,-9,5.1
417,993.0,Donbas War of 2014-present,3,5,369,Ukraine and Russia,Separatists,1,4,15,...,16.43,28.77,-8,Separatists,5,-8.0,3245,2581,5826,5.1
418,994.0,Second Libyan Civil War of 2014-present,5,4,620,Libya,Libyan Dawn,0,5,16,...,19.00,19.07,-8,Libya,5,-8.0,-9,-9,1500,5.1
419,997.0,Rada'a War of 2014-present,5,7,-8,Houthi Rebels,AQAP,0,9,16,...,6.30,6.30,-8,Houthi Rebels,5,233.0,1000,350,1350,5.1

In [67]:
filters = ((df_wars.StartYr1 == 2008) | 
          (df_wars.EndYr1 == 2008) | 
          (df_wars.EndYr2 == 2008) |
          (df_wars.EndYr3 == 2008) | 
          (df_wars.EndYr4 == 2008) | 
          ((df_wars.StartYr1 <= 2008) & (df_wars.EndYr1 >= 2008)) |
          ((df_wars.StartYr1 <= 2008) & (df_wars.EndYr2 >= 2008)) |
          ((df_wars.StartYr1 <= 2008) & (df_wars.EndYr3 >= 2008)) |
          ((df_wars.StartYr1 <= 2008) & (df_wars.EndYr4 >= 2008)))

In [68]:
df_war_filtered_by_2008 = df_wars.loc[filters, :]

In [69]:
lista_conflitos = df_war_filtered_by_2008.SideA.tolist()
lista_paises = df_war_filtered_by_2008.SideA.unique().tolist()

In [70]:
dic_contagem_guerras = {"country_name": [], "n_wars": []}
for pais in lista_paises:
    dic_contagem_guerras["country_name"].append(pais)
    dic_contagem_guerras["n_wars"].append(lista_conflitos.count(pais))

In [71]:
df_filtrado = pd.DataFrame(dic_contagem_guerras)
df_filtrado.head()

  country_name  n_wars
0         Chad       1
1    Sri Lanka       1
2      Somalia       1
3        Yemen       1

In [72]:
df_filtrado.to_csv("../Bases-auxiliares/output-files/Wars_2008.csv")

In [73]:
df_filtrado

  country_name  n_wars
0         Chad       1
1    Sri Lanka       1
2      Somalia       1
3        Yemen       1

In [74]:
df_filtrado = df_filtrado.rename(columns={'country_name': 'origin', 'n_wars': 'n_wars'})
df_filtrado = df_filtrado.set_index('origin').reindex(paises_selecionados).reset_index()
df_filtrado = df_filtrado.fillna(0)
df = df_paises_idh.merge(df_filtrado, on="origin", how="left")
df

                                    origin  idh_2008  n_wars
0                                   Mexico     0.748     0.0
1                                  Ukraine     0.755     0.0
2                            Liechtenstein     0.899     0.0
3                           United Kingdom     0.903     0.0
4                               Costa Rica     0.761     0.0
..                                     ...       ...     ...
115                                 Cyprus     0.858     0.0
116  Serbia and Kosovo (S/RES/1244 (1999))     0.764     0.0
117                               Malaysia     0.761     0.0
118                                   Peru     0.715     0.0
119                                 Sweden     0.907     0.0

[120 rows x 3 columns]

In [75]:
df.loc[df['origin'] == 'Sri Lanka', :]

       origin  idh_2008  n_wars
93  Sri Lanka     0.746     1.0

In [126]:
# Importando a biblioteca netpixi
from netpixi.integration.gt import Graph

# Criando um grafo não-dirigido
g = Graph(directed=True) 
g.add_vp('nome')
g.add_ep('aceitos')

In [127]:
for vertice in paises_selecionados:
    g.add_vertex(vertice)

In [128]:
for v in g.all_vertices():
    v['nome'] = str(v)

In [129]:
n = g.num_vertices()
print('O número de vértices do grafo é :', n)

O número de vértices do grafo é : 120

In [130]:
df_aresta = pd.read_csv('./df_agg_2008_accepted.csv', index_col=0)
df_aresta

       year      destiny                  origin  accepted
37988  2008  Afghanistan                   Egypt         0
37989  2008  Afghanistan                 Eritrea         0
37990  2008  Afghanistan  Iran (Islamic Rep. of)         0
37991  2008  Afghanistan                    Iraq         0
37992  2008  Afghanistan                Pakistan         0
...     ...          ...                     ...       ...
43297  2008     Zimbabwe                Ethiopia         0
43298  2008     Zimbabwe                  Rwanda         7
43299  2008     Zimbabwe                 Somalia         0
43300  2008     Zimbabwe                   Sudan         0
43301  2008     Zimbabwe                  Uganda         4

[5314 rows x 4 columns]

In [131]:
df_aresta = df_aresta[df_aresta['origin'] != df_aresta['destiny']]
df_aresta

       year      destiny                  origin  accepted
37988  2008  Afghanistan                   Egypt         0
37989  2008  Afghanistan                 Eritrea         0
37990  2008  Afghanistan  Iran (Islamic Rep. of)         0
37991  2008  Afghanistan                    Iraq         0
37992  2008  Afghanistan                Pakistan         0
...     ...          ...                     ...       ...
43297  2008     Zimbabwe                Ethiopia         0
43298  2008     Zimbabwe                  Rwanda         7
43299  2008     Zimbabwe                 Somalia         0
43300  2008     Zimbabwe                   Sudan         0
43301  2008     Zimbabwe                  Uganda         4

[5308 rows x 4 columns]

In [185]:
countries_idh_07 = df.origin.to_list()

In [186]:
df_aresta_origin_filtrado = df_aresta[df_aresta.origin.isin(countries_idh_07)]

In [187]:
df_aresta_origin_e_destiny_filtrado = df_aresta_origin_filtrado[df_aresta_origin_filtrado.destiny.isin(countries_idh_07)]

In [188]:
df_aresta_filtrado = df_aresta_origin_e_destiny_filtrado.loc[df_aresta_origin_e_destiny_filtrado.origin != df_aresta_origin_e_destiny_filtrado.destiny, :]

In [189]:
df_aresta_filtrado

,year,destiny,origin,accepted
37997,2008,Albania,Czech Rep.,0
37998,2008,Albania,Montenegro,0
38001,2008,Albania,Serbia and Kosovo (S/RES/1244 (1999)),0
38002,2008,Albania,Sri Lanka,0
38030,2008,Algeria,Tunisia,0
...,...,...,...,...
43241,2008,Venezuela (Bolivarian Republic of),Lebanon,0
43248,2008,Venezuela (Bolivarian Republic of),Peru,0
43249,2008,Venezuela (Bolivarian Republic of),Russian Federation,0
43256,2008,Venezuela (Bolivarian Republic of),Turkey,0
43257,2008,Venezuela (Bolivarian Republic of),United States of America,0

In [190]:
for index, row in df_aresta_filtrado.iterrows():
    g.add_edge(row.origin, row.destiny)
    g.get_edge(row.origin, row.destiny)['aceitos'] = row.accepted

ValueError: Edge with source Czech Rep. and target Albania already exists

In [191]:
from netpixi.integration.gt import *

In [192]:
gt_save(g, '/grafo_coreness2008.net.gz')

In [193]:
g = gt_load('/grafo_coreness2008.net.gz')

In [194]:
import netpixi
g = gt_load('/grafo_coreness2008.net.gz')
m = gt_draw.sfdp_layout(g)
gt_move(g, m)
gt_save(g, 'grafo_coreness2008.net.gz')

In [195]:
r = netpixi.render('grafo_coreness2008.net.gz', infinite=True);

In [196]:
r.vertex_set_key('nome')

r.vertex_default(color=0xffffff)

# mudar a cor, a espessura e a curvatura das arestas
r.edge_default(color=0x20B2AA)

In [197]:
r.edge_scale('aceitos', 1, 10)

In [198]:
import netpixi
import cpnet

from graph_tool import spectral
from netpixi.integration.gt import *
from regression.integration.gt import *

In [199]:
g =  gt_load('/grafo_coreness2008.net.gz')

In [200]:
m = gt_draw.sfdp_layout(g)
gt_move(g, m)
gt_save(g, 'centralidadeCoreness2008.net.gz')

In [201]:
matrix = spectral.adjacency(g)

# # Além de cpnet.Surprise, há outras
# # opções de algoritmos discretos:
# # cpnet.BE
# # cpnet.Lip
# # cpnet.LapCore
# # cpnet.LapSgnCore
# # cpnet.LowRankCore

algorithm = cpnet.BE()
algorithm.detect(matrix)
c = algorithm.get_coreness()

# # Depois do código acima, c é um dicionário
# # em que as chaves são índices de vértices e
# # valores são os atribuídos pelo algoritmo.

g.add_vp('core')
for i, coreness in c.items():
     v = g.get_vertex_by_index(i)
     v['core'] = int(coreness)
    
# # Vamos pintar de vermelho todos os vértices
# # identificados como centro e de verde todos
# # os vértices identificados como periferia.
    
for v in g.all_vertices():
    if v['core'] == 1:
        r.vertex(v['id'], color=0xff0000)
    else:
        r.vertex(v['id'], color=0x00ff00)

# # Quando a execução desta célula terminar,
# # veja como ficou a visualização acima.

In [202]:
r.edge_scale('aceitos', 1, 10)

r.vertex_set_key('nome')

r.vertex_scale('coreness', 5, 25)

In [203]:
gt_data

In [206]:
df_coreness = gt_data(g).sort_values("coreness", ascending = False)
df_coreness

KeyError: 'coreness'

In [41]:
import regression as reg

In [44]:
result_hip4 = reg.linear(data=df, formula='value ~ idh_2008')
result_hip4.summary()

AttributeError: module 'regression' has no attribute 'linear'