# Projeto de Redes Sociais

Alunos: 

- Lívia Makuta;
- Henrique Frezzatti;
- Rodrigo Guimarães.

In [139]:
import pandas as pd

In [140]:
df = pd.read_csv('./asylum_seekers.csv')

/tmp/ipykernel_102/2101300075.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./asylum_seekers.csv')

In [141]:
df

,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted(start-year),Applied during year,decisions_recognized,decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted(end-year)
0,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5.0,0,0
1,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0
2,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186.0,1235,1235
3,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250.0,171,0
4,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273.0,150,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129715,2016,United States of America,Zimbabwe,G / IN,232,NaN,229,16,NaN,*,10,28,435,NaN
129716,2016,United States of America,Zimbabwe,G / EO,142,NaN,12,*,NaN,*,23,31,138,NaN
129717,2016,South Africa,Zimbabwe,G / AR,94,9,NaN,NaN,NaN,NaN,94,94,0,NaN
129718,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,NaN,7869,NaN,7942,41260,NaN
129719,2016,Zambia,Zimbabwe,G / FI,*,*,*,0,NaN,*,*,*,*,*

In [142]:
listaVertices = []

listaVertices = set(df['Country / territory of asylum/residence'].unique().tolist() + df['Origin'].unique().tolist())

print(len(listaVertices))

225

In [143]:
listaVertices

{'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia (Plurinational State of)',
 'Bonaire',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Rep.',
 'Chad',
 'Chile',
 'China',
 'China, Hong Kong SAR',
 'China, Macao SAR',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Rep.',
 "Côte d'Ivoire",
 "Dem. People's Rep. of Korea",
 'Dem. Rep. of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Rep.',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See (the)',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Rep. of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Dem. Rep.",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia (Federated States of)',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norfolk Island',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestinian',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Rep. of Korea',
 'Rep. of Moldova',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Saint-Pierre-et-Miquelon',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia and Kosovo (S/RES/1244 (1999))',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Stateless',
 'Sudan',
 'Suriname',
 'Svalbard and Jan Mayen',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Rep.',
 'Tajikistan',
 'Thailand',
 'The former Yugoslav Republic of Macedonia',
 'Tibetan',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Rep. of Tanzania',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Various/Unknown',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Wallis and Futuna Islands ',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

In [144]:
# Importando a biblioteca netpixi
from netpixi.integration.gt import Graph

# Criando um grafo não-dirigido
g = Graph(directed=True) 
g.add_vp('nome')
g.add_ep('aceitos')

In [145]:
for vertice in listaVertices:
    g.add_vertex(vertice)

In [146]:
for v in g.all_vertices():
    v['nome'] = str(v)

In [147]:
n = g.num_vertices()
print('O número de vértices do grafo é :', n)

O número de vértices do grafo é : 225

In [148]:
df_aresta = df.loc[:, ['Country / territory of asylum/residence', 'Origin', 'decisions_recognized']]
df_aresta = df_aresta.rename(columns={'Origin': 'origin', 'Country / territory of asylum/residence': 'destiny', 'decisions_recognized': 'value'})
df_aresta

                         destiny       origin value
0                       Zimbabwe  Afghanistan     5
1                   South Africa  Afghanistan     0
2                     Uzbekistan  Afghanistan   747
3       United States of America  Afghanistan   151
4       United States of America  Afghanistan   182
...                          ...          ...   ...
129715  United States of America     Zimbabwe    16
129716  United States of America     Zimbabwe     *
129717              South Africa     Zimbabwe   NaN
129718              South Africa     Zimbabwe    73
129719                    Zambia     Zimbabwe     0

[129720 rows x 3 columns]

In [149]:
df_aresta.value = pd.to_numeric(df_aresta['value'], errors = 'coerce').fillna(0)
df_aresta

                         destiny       origin  value
0                       Zimbabwe  Afghanistan    5.0
1                   South Africa  Afghanistan    0.0
2                     Uzbekistan  Afghanistan  747.0
3       United States of America  Afghanistan  151.0
4       United States of America  Afghanistan  182.0
...                          ...          ...    ...
129715  United States of America     Zimbabwe   16.0
129716  United States of America     Zimbabwe    0.0
129717              South Africa     Zimbabwe    0.0
129718              South Africa     Zimbabwe   73.0
129719                    Zambia     Zimbabwe    0.0

[129720 rows x 3 columns]

In [150]:
df_aresta = df_aresta.groupby(['origin', 'destiny']).sum().reset_index()
df_aresta

            origin                   destiny    value
0      Afghanistan                   Albania      3.0
1      Afghanistan                   Algeria      2.0
2      Afghanistan                    Angola      0.0
3      Afghanistan                 Argentina      5.0
4      Afghanistan                   Armenia      0.0
...            ...                       ...      ...
11082     Zimbabwe            United Kingdom  15429.0
11083     Zimbabwe   United Rep. of Tanzania      1.0
11084     Zimbabwe  United States of America   1722.0
11085     Zimbabwe                   Uruguay      1.0
11086     Zimbabwe                    Zambia      9.0

[11087 rows x 3 columns]

In [155]:
df_aresta = df_aresta[df_aresta['origin'] != df_aresta['destiny']]
df_aresta

            origin                   destiny    value
0      Afghanistan                   Albania      3.0
1      Afghanistan                   Algeria      2.0
2      Afghanistan                    Angola      0.0
3      Afghanistan                 Argentina      5.0
4      Afghanistan                   Armenia      0.0
...            ...                       ...      ...
11082     Zimbabwe            United Kingdom  15429.0
11083     Zimbabwe   United Rep. of Tanzania      1.0
11084     Zimbabwe  United States of America   1722.0
11085     Zimbabwe                   Uruguay      1.0
11086     Zimbabwe                    Zambia      9.0

[11063 rows x 3 columns]

In [156]:
for index, row in df_aresta.iterrows():
    g.add_edge(row.origin, row.destiny)
    g.get_edge(row.origin, row.destiny)['aceitos'] = row.value

In [157]:
from netpixi.integration.gt import *

In [158]:
gt_save(g, '../../datasets/grafo_atualizado.net.gz')

In [159]:
g = gt_load('../../datasets/grafo_atualizado.net.gz')

In [163]:
import netpixi
g = gt_load('../../datasets/grafo_atualizado.net.gz')
m = gt_draw.sfdp_layout(g)
gt_move(g, m)
gt_save(g, 'grafo_atualizado.net.gz')

In [168]:
#r = netpixi.render('grafo_atualizado.net.gz', infinite=True);

In [165]:
r.vertex_set_key('nome')

r.vertex_default(color=0xffffff)

# mudar a cor, a espessura e a curvatura das arestas
r.edge_default(color=0x20B2AA)

In [166]:
r.edge_scale('aceitos', 1, 10)

In [167]:
r.vertex('Germany', color=0xff0000, size=20)
r.vertex('Syrian Arab Rep.', color=0xff0000, size=20)
r.vertex('United States of America', color=0xff0000, size=20)
r.vertex('China', color=0xff0000, size=20)
r.vertex('Colombia', color=0xff0000, size=20)
r.vertex('Ecuador', color=0xff0000, size=20)
r.vertex('Iraq', color=0xff0000, size=20)
r.vertex('Turkey', color=0xff0000, size=20)
r.vertex('Myanmar', color=0xff0000, size=20)
r.vertex('Malaysia', color=0xff0000, size=20)