In [1]:
import pandas as pd

In [36]:
df_raw = pd.read_csv("./raw-files/asylum_seekers.csv")

/var/folders/s4/3_q0wq016y7597pk4vtjk4rm0000gn/T/ipykernel_27074/3478949569.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv("./raw-files/asylum_seekers.csv")

In [37]:
df = df_raw.loc[:,["Country / territory of asylum/residence", "Rejected"]]
df

       Country / territory of asylum/residence Rejected
0                                     Zimbabwe        0
1                                 South Africa        0
2                                   Uzbekistan      112
3                     United States of America       31
4                     United States of America       51
...                                        ...      ...
129715                United States of America        *
129716                United States of America        *
129717                            South Africa      NaN
129718                            South Africa     7869
129719                                  Zambia        *

[129720 rows x 2 columns]

In [38]:
df.rename(columns={"Country / territory of asylum/residence":"destiny", "Rejected":"rejected"}, inplace=True)
df.head()

                    destiny rejected
0                  Zimbabwe        0
1              South Africa        0
2                Uzbekistan      112
3  United States of America       31
4  United States of America       51

In [39]:
df = df.loc[df.rejected != "*", :]

In [40]:
df['rejected'] = df['rejected'].fillna(0)

/var/folders/s4/3_q0wq016y7597pk4vtjk4rm0000gn/T/ipykernel_27074/4181098314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rejected'] = df['rejected'].fillna(0)

In [41]:
df.rejected = pd.to_numeric(df.rejected)

/var/folders/s4/3_q0wq016y7597pk4vtjk4rm0000gn/T/ipykernel_27074/2563801522.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rejected = pd.to_numeric(df.rejected)

In [42]:
df.groupby(['destiny']).rejected.sum()

destiny
Afghanistan                             243
Albania                                  64
Algeria                                5511
Angola                                 1493
Anguilla                                  0
                                      ...
Vanuatu                                   1
Venezuela (Bolivarian Republic of)    20309
Yemen                                  5730
Zambia                                 2454
Zimbabwe                               1315
Name: rejected, Length: 190, dtype: int64

In [43]:
listaVertices = set(df_raw['Country / territory of asylum/residence'].unique().tolist() + df_raw['Origin'].unique().tolist())

In [46]:
df_rejected = df.groupby(['destiny']).rejected.sum().reindex(listaVertices).fillna(0)
df_rejected

destiny
Afghanistan                 243.0
Japan                     35442.0
Lithuania                  1609.0
Guinea-Bissau               302.0
Syrian Arab Rep.          14249.0
                           ...
Egypt                     31786.0
Luxembourg                15867.0
Bosnia and Herzegovina     1576.0
Panama                      894.0
Nauru                       341.0
Name: rejected, Length: 225, dtype: float64

In [49]:
df_rejected = df_rejected.reset_index()

In [50]:
df_rejected

                    destiny  rejected
0               Afghanistan     243.0
1                     Japan   35442.0
2                 Lithuania    1609.0
3             Guinea-Bissau     302.0
4          Syrian Arab Rep.   14249.0
..                      ...       ...
220                   Egypt   31786.0
221              Luxembourg   15867.0
222  Bosnia and Herzegovina    1576.0
223                  Panama     894.0
224                   Nauru     341.0

[225 rows x 2 columns]

In [58]:
df_rejected.sort_values("rejected", ascending = False).reset_index(drop=True)

                              destiny   rejected
0                              France  1115911.0
1                             Germany   830808.0
2                      United Kingdom   795869.0
3                        South Africa   618821.0
4            United States of America   458969.0
..                                ...        ...
220                           Andorra        0.0
221                 Brunei Darussalam        0.0
222                        San Marino        0.0
223                 Equatorial Guinea        0.0
224  Saint Vincent and the Grenadines        0.0

[225 rows x 2 columns]

In [59]:
df_rejected.to_csv("./output-files/df_rejected.csv")