## FONTE

https://correlatesofwar.org/data-sets/cow-war/

In [5]:
import pandas as pd

In [8]:
df_wars = pd.read_csv("./raw-files/Wars.csv")

In [9]:
df_wars.head()

,WarNum,WarName,V5RegionNum,WarType,CcodeA,SideA,SideB,Intnl,StartMo1,StartDy1,...,WDuratMo,TotNatMonWar,TransFrom,Initiator,Outcome,TransTo,DeathsSideA,DeathsSideB,TotalBDeaths,Version
0,500.0,First Caucasus War of 1818-1822,3,5,365,Russia,Caucasus Rebels,0,6,10,...,53.20,53.20,-8,Chechnya,1,-8.0,5000,6000,11000,5.1
1,502.0,First Two Sicilies War of 1820-1821,3,4,329,Two Sicilies,Liberals,1,7,2,...,8.73,9.03,-8,Liberals,1,-8.0,-9,-9,2000,5.1
2,502.1,Ali Pasha Rebellion of 1820-1822,3,5,640,Ottoman Empire,Ali Pasha Loyalists,0,7,-9,...,18.33,18.33,-8,Ottoman Empire,1,-8.0,-9,-9,2000,5.1
3,503.0,Sardinian Revolt of 1821,3,4,325,Sardinia,Piedmont Liberals,1,3,10,...,1.97,3.03,-8,Liberals,1,-8.0,-9,-9,1000,5.1
4,504.0,Greek Independence War of 1821-1828,3,5,640,Ottoman Empire,Greeks,1,3,25,...,85.03,91.77,-8,Greeks,4,4.0,50000,15177,65177,5.1

In [10]:
df_wars.columns

Index(['WarNum', 'WarName', 'V5RegionNum', 'WarType', 'CcodeA', 'SideA',
       'SideB', 'Intnl', 'StartMo1', 'StartDy1', 'StartYr1', 'EndMo1',
       'EndDy1', 'EndYr1', 'StartMo2', 'StartDy2', 'StartYr2', 'EndMo2',
       'EndDy2', 'EndYr2', 'StartMo3', 'StartDy3', 'StartYr3', 'EndMo3',
       'EndDy3', 'EndYr3', 'StartMo4', 'StartDy4', 'StartYr4', 'EndMo4',
       'EndDy4', 'EndYr4', 'WDuratDays', 'WDuratMo', 'TotNatMonWar',
       'TransFrom', 'Initiator', 'Outcome', 'TransTo', 'DeathsSideA',
       'DeathsSideB', 'TotalBDeaths', 'Version'],
      dtype='object')

In [11]:
df_wars.StartYr1

0      1818
1      1820
2      1820
3      1821
4      1821
       ...
415    2014
416    2014
417    2014
418    2014
419    2014
Name: StartYr1, Length: 420, dtype: int64

In [19]:
filters = (df_wars.StartYr1 > 2000) | (df_wars.EndYr1 > 2000) | (df_wars.EndYr2 > 2000) | (df_wars.EndYr3 > 2000) | (df_wars.EndYr4 > 2000)

In [20]:
df_war_filtered_by_2000 = df_wars.loc[filters, :]

In [21]:
lista_conflitos = df_war_filtered_by_2000.SideA.tolist()
lista_paises = df_war_filtered_by_2000.SideA.unique().tolist()

In [22]:
dic_contagem_guerras = {"country_name": [], "n_wars": []}
for pais in lista_paises:
    dic_contagem_guerras["country_name"].append(pais)
    dic_contagem_guerras["n_wars"].append(lista_conflitos.count(pais))

In [25]:
df_filtrado = pd.DataFrame(dic_contagem_guerras)
df_filtrado.head()

  country_name  n_wars
0        Sudan       3
1    Sri Lanka       2
2        India       1
3      Algeria       1
4  Afghanistan       2

In [27]:
df_filtrado.to_csv("./output-files/Wars.csv")